{% extends 'products/base.html' %}
<div class="container">
    <div class="content">
        <div class="article">
            <h1 class="article-title">Контакты</h1>
            <p>Реквизиты ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ ИЛЮХИНА ТАТЬЯНА ВЛАДИМИРОВНА. </p>
            <div>ИНН: 163601004246</div>
            <div>Р/С: 40802810200000944820, </div>
            <div>Банк: АО "ТИНЬКОФФ БАНК", </div>
            <p>К/С: 30101810145250000974</p>
            <p>Юридический адрес:</p>
            <p>423368, РОССИЯ, РЕСП ТАТАРСТАН, САРМАНОВСКИЙ Р-Н, ПГТ ДЖАЛИЛЬ, УЛ АХМАДИЕВА, Д 21, КВ 65</p>
            <p>Фактический адрес:</p>
            <p>420111, Россия, Республика Татарстан, город Казань, ул.Московская д.74/15</p>
            <p>Наш телефон: +7(996)337-34-26</p>
            <p>Электронная почта: sale@muslim-product.ru</p>
        </div>
    </div>
</div>