<ul class="pagination">
    {% if products_list.has_previous %}
        {% if products_list.number|add:'-3' > 1 %}
            <li class="pagination__item">
                <a href="?page=1">1</a>
            </li>
        {% endif %}
        {% if products_list.number|add:'-3' >= 3 %}
            <li class="pagination__item pagination__item--dots">
                    <a href="?page={{ products_list.previous_page_number|add:'-3' }}">
                <span class="pagination__link">• • •</span>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if paginator.page_range|length > 1 %}
        {% for i in paginator.page_range %}
            {% if products_list.number == i %}
                <li class="pagination__item active">
                    <a class="pagination__link" href="#">{{ i }}</a>
                </li>
            {% elif i > products_list.number|add:'-4' and i < products_list.number|add:'4' %}
                <li class="pagination__item">
                        <a class="pagination__link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if products_list.has_next %}
        {% if products_list.number|add:'4' < products_list.paginator.num_pages %}
            <li class="pagination__item pagination__item--dots">
                    <a href="?page={{ products_list.next_page_number|add:'3' }}">
                <span class="pagination__link">• • •</span>
                </a>
            </li>
        {% endif %}
        {% if products_list.number|add:'3' < products_list.paginator.num_pages %}
            <li class="pagination__item">
                    <a class="pagination__link" href="?page={{ products_list.paginator.num_pages }}">
                        {{ products_list.paginator.num_pages }}
                    </a>
            </li>
        {% endif %}
    {% endif %}
</ul>